<div class="card">
  <div class="card-header">
    <div class="mb-3">
      <h1 class="d-inline-block">
        First journey pictures
      </h1>

      <h6 class="card-subtitle text-muted">
        Created <%= time_ago_in_words(journey.created_at) %> ago.
      </h6>
    </div>
  </div>

  <div class="card-body mb-3">
    <% if journey.waiting? %>
      <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Images have been scheduled for processing.' } %>
    <% elsif journey.processing? %>
      <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Images are being processed.' } %>
    <% else %>
      <% if mobile_browser? %>
        <%= render partial: 'shared/images_grid', locals: { thumbnail_image_urls: journey.journey_mini_thumbnails, image_urls: journey.journey_maxs, object_id: journey.id } %>
      <% else %>
        <%= render partial: 'shared/images_grid', locals: { thumbnail_image_urls: journey.journey_thumbnails, image_urls: journey.journey_maxs, object_id: journey.id } %>
      <% end %>
    <% end %>
  </div>
</div>