<div class="container d-flex flex-column">
	<div class="row vh-95">
		<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
			<div class="d-table-cell align-middle">

				<div class="text-center mt-4">
					<h1 class="h2">Welcome to Migrating Pelicans</h1>
					<p class="lead"> Create an account an start your first journey </p>
				</div>

				<div class="card">
					<div class="card-body">
						<div class="m-sm-4">
							<div class="text-center">
								<%= image_tag "avatars/avatar.png", class: "img-fluid rounded-circle", width: "132", height: "132", alt: "Migrating Pelican" %>
							</div>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="mb-3">
                  <%= render "devise/shared/error_messages", resource: resource %>
                </div>

                <div class="mb-3">
                  <%= f.label :email, class: 'form-label' %><br />
                  <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
                </div>

								<div class="mb-3">
									<%= f.label :username, class: 'form-label' %>
									<em>(can not contain white spaces)</em>
									<br />
									<%= f.text_field :username, required: true, autocomplete: "username", class: 'form-control form-control-lg' %>
								</div>

                <div class="mb-3">
                  <%= f.label :password, class: 'form-label' %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, required: true, autocomplete: "new-password", class: 'form-control form-control-lg' %>
                </div>

                <div class="mb-3">
                  <%= f.label :password_confirmation, class: 'form-label' %><br />
                  <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: 'form-control form-control-lg' %>
                </div>

                <div class="text-center mt-3">
                  <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
                </div>

                <div class="text-center mt-3">
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
