<div class="col-8 p-1" style="<%= loading_spinner %>">
  <img 
    class="lazy w-100 lightbox-image" 
    data-src="<%= thumbnail_image_urls[0] %>"
    data-remote="<%= image_urls[0] %>"
    data-gallery="example-gallery-<%= object_id %>"
  >
</div>

<div class="col-4">
  <div class="row">
    <div class="col-12 p-1" style="<%= loading_spinner %>">
      <img 
        class="lazy w-100 lightbox-image" 
        data-src="<%= thumbnail_image_urls[1] %>"
        data-remote="<%= image_urls[1] %>"
        data-gallery="example-gallery-<%= object_id %>"
      >
    </div>
  </div>

  <div class="row">
    <div class="col-12 p-1" style="<%= loading_spinner %>">
      <img 
        class="lazy w-100 lightbox-image" 
        data-src="<%= thumbnail_image_urls[2] %>"
        data-remote="<%= image_urls[2] %>"
        data-gallery="example-gallery-<%= object_id %>"
      >
    </div>
  </div>
</div>
