<div class="col-6 p-1">
  <img 
    class="lazy w-100 lightbox-image" 
    data-src="<%= thumbnail_image_urls[0] %>"
    data-remote="<%= image_urls[0] %>"
    data-gallery="example-gallery-<%= object_id %>"
  >
</div>

<div class="col-6">
  <div class="row">
    <div class="col-6 p-1">
      <img 
        class="lazy w-100 lightbox-image" 
        data-src="<%= thumbnail_image_urls[1] %>"
        data-remote="<%= image_urls[1] %>"
        data-gallery="example-gallery-<%= object_id %>"
      >
    </div>

    <div class="col-6 p-1">
      <img 
        class="lazy w-100 lightbox-image" 
        data-src="<%= thumbnail_image_urls[2] %>"
        data-remote="<%= image_urls[2] %>"
        data-gallery="example-gallery-<%= object_id %>"
      >
    </div>
  </div>

  <div class="row">
    <div class="col-6 p-1">
      <img 
        class="lazy w-100 lightbox-image" 
        data-src="<%= thumbnail_image_urls[3] %>"
        data-remote="<%= image_urls[3] %>"
        data-gallery="example-gallery-<%= object_id %>"
      >
    </div>

    <div class="col-6 p-1">
      <img 
        class="lazy w-100 lightbox-image" 
        data-src="<%= thumbnail_image_urls[4] %>"
        data-remote="<%= image_urls[4] %>"
        data-gallery="example-gallery-<%= object_id %>"
      >
    </div>
  </div>
</div>
