<% modal_id = journey_or_journey_stop.modal_id %>

<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>-title" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= modal_id %>-title">
          <%= journey_or_journey_stop.title %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div 
          class="row" 
          data-controller="map"
          data-map-pins-value="<%= pins %>" 
        >
          <div class="col-12">
            <div class="card" style="height: 60vh;">
              <div style="height: 100%" id="map">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
