<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Pelicans</h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
    	<div class="card-body">
    		<div class="row">
    			<div class="w-100"></div>
    			<div class="col-md">
    				<div class="mb-0">
              <%= form_for :pelicans, html: { method: :get } do |f| %>
                <div class="input-group">
                  <%= f.text_field :query_string, required: true, class: 'form-control', placeholder: 'Search...' %>
                  <%= f.submit 'Search', class: 'btn btn-secondary' %>
                </div>
              <% end %>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>

<div class="row">
	<% if @users.empty? %>
    <div class="mb-3">
      <h1 class="h4 d-inline align-middle">No pelicans found ...</h1>
    </div>
	<% else %>
		<% @users.each do |user| %>
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<div class="card mb-3">
            <% if user.image.attached? %>
              <%= image_tag user.image.variant(:max), class: "card-img-top" %>
            <% else %>
              <%= image_tag "avatars/avatar.png", class: "card-img-top", width: '400', height: '400' %>
            <% end %>
            <div class="card-header">
              <h5 class="card-title pelican-name"><%= user.username %></h5>
            </div>
						<div class="card-body">
							<p class="card-text">
                <%= user.biography %>
              </p>
              <div class="btn-group btn-group-sm mb-0" role="group" aria-label="pelican_button_group" style="width: 100%;">
                <%= link_to 'View', pelican_path(user.username), class: 'btn btn-sm btn-primary pelican-path' %>
                <%= render partial: 'follow_unfollow', locals: { follower: current_user, followee: user } %>
              </div>
						</div>
					</div>
				</div>
		<% end %>
	<% end %>
</div>
