<h1 class="h3 mb-3" id="pelican-name"><%= @user.username %></h1>
<div class="row">
  <div class="col-12 col-sm-4 col-md-3 col-lg-2">
    <div class="card mb-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(:max), class: "card-img-top" %>
      <% else %>
        <%= image_tag "avatars/avatar.png", class: "card-img-top", width: '400', height: '400' %>
      <% end %>
      <div class="card-header">
				<h5 class="card-title"><%= @user.username %></h5>
			</div>
      <div class="card-body">
        <p class="card-text">
          <%= @user.biography %>
        </p>
				<div>
          <div class="btn-group btn-group-sm mb-0" role="group" aria-label="pelican_button_group" style="width: 100%;">
            <%= render partial: 'follow_unfollow', locals: { follower: current_user, followee: @user } %>
          </div>
				</div>
			</div>
    </div>
  </div>
  <div class="col-12 col-sm-8 col-md-9 col-lg-10">
    <%= render partial: 'journeys/journeys', locals: { journeys: @journeys } %>
  </div>
</div>
