<h1 class="h3 mb-3" id="pelican-name"><%= @user.username %></h1>
<div class="row">
  <div class="col-md-4 col-xl-3">
    <div class="card mb-3">
      <div class="card-header">
				<h5 class="card-title mb-0">Profile Details</h5>
			</div>
      <div class="card-body text-center">
        <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(:max), class: "rounded-circle img-responsive mt-2", width: '128', height: '128' %>
        <% else %>
          <%= image_tag "avatars/avatar.png", class: "rounded-circle img-responsive mt-2", width: '128', height: '128' %>
        <% end %>
				<h5 class="card-title mb-0"><%= @user.username %></h5>
        <div class="text-muted mb-2"><%= @user.biography %></div>
				<div>
          <%= render partial: 'follow_unfollow', locals: { followee: current_user, follower: @user } %>
				</div>
			</div>
    </div>
  </div>
  <div class="col-md-8 col-xl-9">
    <%= render partial: 'journeys/journeys', locals: { journeys: @journeys } %>
  </div>
</div>
