<div class="row">
	<% if journeys.empty? %>
		<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
			<h1 class="h4 d-inline align-middle">There are no journeys yet.</h1>
		</div>
	<% else %>
		<% journeys.each do |journey| %>
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
					<div class="card">
            <% if journey.waiting? %>
              <div class="card-header">
                <h5 class="card-title" id="journey-stop-image-processing-status">
                  Please wait. Images have been scheduled for processing.
                </h5>
              </div>
            <% elsif journey.processing? %>
              <div class="card-header">
                <h5 class="card-title" id="journey-stop-image-processing-status">
                  Please wait. Images are being processed.
                </h5>
              </div>
            <% else %>
             <%= image_tag journey.images.first.variant(:thumbnail), class: 'card-img-top' %>
            <% end %>
            <div class="card-header">
              <h5 class="card-title">
                <%= journey.title %> 
              </h5>
            </div>
						<div class="card-body">
              <p>
                <em>
                  New stop added <%= time_ago_in_words(journey.updated_at) %> ago.
                </em>
              </p>
              <p>
                <%= link_to pelican_path(journey.user.username) do %>
                  <% if journey.user.image.attached? %>
                    <%= image_tag journey.user.image.variant(:max), class: "rounded-circle me-1", alt: "Avatar", width: "28", height: "28" %>
                  <% else %>
                    <%= image_tag "avatars/avatar.png", class: "rounded-circle me-1", alt: "Avatar", width: "28", height: "28" %>
                  <% end %>
                <% end %>
              </p>
              <p>
                <% if can?(:show, journey) %>
                  <%= link_to 'View Journey', journey_path(journey), class: 'btn btn-sm btn-primary' %>
                <% end %>
                <% if current_user.nil? || journey.user != current_user %>
                  <% if can?(:buy, journey) %>
                    <%= link_to create_checkout_session_payments_path(journey_id: journey.id), method: :post, class: 'btn btn-sm btn-success' do %>
                      <i class="align-middle" data-feather="lock"></i> <span class="align-middle">Buy</span>
                    <% end %>
                  <% end %>
                <% end %>
              </p>
						</div>
					</div>
				</div>
		<% end %>
	<% end %>
</div>
