<div class="mb-3">
  <h1 class="h3 d-inline align-middle" id="journey-title"><%= @journey.title %></h1>
  <% if current_user && can?(:edit, @journey) %>
    <%= link_to '+ New Stop', new_journey_journey_stop_path(@journey), class: 'btn btn-primary  float-end mt-n1' %>
  <% end %>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
        <iframe
          width="100%"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          id="journey-map-display"
          src="<%= @journey.map_url %>">
				</iframe>
      </div>
    </div>
  </div>
</div>

<% if current_user && can?(:edit, @journey) %>
  <div class="row">
  	<div class="col-12">
  		<div class="card">
  			<div class="card-body">
          <div class="card-title">
            Privacy
          </div>

          <% if @journey.protected_journey? %>
            <a href="<%= watch_journey_url(access_code: @journey.access_code) %>" class="private_link">Private link to share</a>
            <br>
            <br>
          <% end %>

          <div class="card-text">
            <% journey_privacy_buttons(journey: @journey).each do |button| %>
              <%= button %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card">
      <%= image_tag @journey.image.variant(:max), class: 'card-img-top', id: 'journey-first-picture' %>
      <div class="card-body">
        <div class="card-title">
          <%= @journey.title %>
        </div>
        <div class="card-text" id="journey-description">
          <%= @journey.description %>
        </div>
      </div>
    </div>
  </div>

  <% @journey.journey_stops.each_with_index do |journey_stop, index| %>
    <% index_class = "journey-stop-#{index}" %>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <%= image_tag journey_stop.images.first.variant(:max), class: "image #{index_class} card-img-top" %>
        <div class="card-body">
          <div class="container">
            <div class="card-title title <%= index_class %>">
              <%= journey_stop.title %> - <a href="<%= journey_stop.location_link %>" target="_blank" class="location <%= index_class %>">View Location</a>
            </div>
          </div>
          <div class="container">
            <div class="card-subtitle description <%= index_class %>">
              <%= journey_stop.description %>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row row-cols-4">
            </div>
          </div>
          <br>
          <div class="container">
            <% if can?(:show, journey_stop) %>
              <% if params[:access_code] %>
                <%= link_to 'View Stop', journey_journey_stop_path(@journey, journey_stop, access_code: params[:access_code]), class: 'btn btn-sm btn-primary' %>
              <% else %>
                <%= link_to 'View Stop', journey_journey_stop_path(@journey, journey_stop), class: 'btn btn-sm btn-primary' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user && can?(:destroy, @journey) %>
  <%= link_to 'Delete Journey', journey_path(@journey), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger  float-end mt-n1' %>
<% end %>
