<div class="row">
	<% if journeys.empty? %>
		<div class="mb-3">
			<h1 class="h4 d-inline align-middle">There are no journeys yet.</h1>
		</div>
	<% else %>
		<% journeys.each do |journey| %>
				<div class="col-12 col-sm-6 col-md-3 col-lg-2">
					<div class="card">
						<%= image_tag journey.image.variant(:thumbnail), class: 'card-img-top' %>
						<div class="card-body">
							<h5 class="card-title"><%= journey.title %></h5>
							<p class="card-text"><%= journey.description %></p>
                <% if can?(:show, journey) %>
									<%= link_to 'View Journey', journey_path(journey), class: 'btn btn-sm btn-primary' %>
                <% elsif can?(:buy, journey) %>
                  <%= link_to create_checkout_session_payments_path(journey_id: journey.id), method: :post, class: 'btn btn-sm btn-primary' do %>
										<i class="align-middle" data-feather="lock"></i> <span class="align-middle">Buy Journey</span>
									<% end %>
								<% end %>
						</div>
					</div>
				</div>
		<% end %>
	<% end %>
</div>
