<h1 class="h3 mb-3" id="journey-title">
  <%= @journey.title %>
</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Journey Description
        </div>
        <div class="card-text" id="journey-description">
          <%= @journey.description %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
        <div class="card-title">
          Journey Map
        </div>
        <iframe
          width="100%"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          id="journey-map-display"
          src="<%= @journey.map_url %>">
				</iframe>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
        <div class="card-title">
          First Picture
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-1 col-sm-0"></div>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <button class="image-button" type="button" data-bs-toggle="modal" data-bs-target="#firstPictureModal">
              <%= image_tag url_for(@journey.image.variant(:max)), id: 'journey-first-picture', class: 'd-block w-100' %>
            </button>

            <div class="modal fade" id="firstPictureModal" tabindex="-1" aria-labelledby="firstPictureModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen">
                <div class="modal-content align-items-center">
                  <div class="modal-body">
                    <div class="">
                      <%= image_tag url_for(@journey.image.variant(:max)), class: 'img-fluid' %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-1 col-sm-0"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @journey.journey_stops.each_with_index do |journey_stop, index| %>
  <% index_class = "journey-stop-#{index}" %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="card-title title <%= index_class %>">
              <%= journey_stop.title %> - <a href="<%= journey_stop.location_link %>" target="_blank" class="location <%= index_class %>">View Stop Location</a>
            </div>
          </div>
          <div class="container">
            <div class="card-subtitle description <%= index_class %>">
              <%= journey_stop.description %>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row row-cols-4">
              <% journey_stop.images.with_all_variant_records.each_with_index do |image, index| %>
                <div class="col">
                  <button class="image-button" type="button" data-bs-toggle="modal" data-bs-target="#JourneyStop<%= image.hash %>">
                    <%= image_tag url_for(image.variant(:thumb)), class: "d-block w-100 image #{index_class}" %>
                  </button>

                  <div class="modal fade" id="JourneyStop<%= image.hash %>" tabindex="-1" aria-labelledby="JourneyStop<%= image.hash %>Label" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content align-items-center align-middle">
                        <div class="modal-body">
                          <%= image_tag url_for(image.variant(:max)), class: 'img-fluid' %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <br>
          <div class="container">
            <% if current_user && can?(:destroy, journey_stop) %>
              <%= link_to 'Delete Stop', journey_journey_stop_path(@journey, journey_stop), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
        <div class="card-title">
          Share Link
        </div>
        <div class="card-text">
          <% if current_user && can?(:edit, @journey) %>
            <% if @journey.private_journey? %>
              To see the link and to make your journey protected click on the button below.
              <br>
              <br>
              <%= link_to 'Make your journey protected', journey_path(@journey, journey: { access_type: :protected_journey }), method: :put, confirm: 'Are you sure?', class: 'btn btn-sm btn-primary' %>
            <% else %>
              <%= watch_journeys_url(access_code: @journey.access_code) %>
              <br>
              <br>
              <%= link_to 'Make your journey private', journey_path(@journey, journey: { access_type: :private_journey }), method: :put, confirm: 'Are you sure?', class: 'btn btn-sm btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user && can?(:edit, @journey) %>
  <%= link_to 'Make a Stop', new_journey_journey_stop_path(@journey), class: 'btn btn-primary' %>
<% end %>

<% if current_user && can?(:destroy, @journey) %>
  <%= link_to 'Delete Journey', journey_path(@journey), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
