<div class="row"> 
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <% if current_user && can?(:edit, @journey) %>
      <%= link_to '+ New Stop', new_journey_journey_stop_path(@journey), class: 'btn btn-primary  float-end mt-n1' %>
    <% end %>
  </div>
<div>

<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <h1 id="journey-title"><%= @journey.title %></h1>
  </div>
</div>

<% if @journey.description.body %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <div class="card">
        <div class="card-body">
          <div id="journey-description">
            <%= @journey.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @journey.waiting? %>
  <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Image has been scheduled for processing.' } %>
<% elsif @journey.processing? %>
  <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Image  being processed.' } %>
<% else %>
  <div class="row" data-controller="lightbox">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 text-center">
      <div class="card">
        <div class="card-body">
          <a href="<%= @journey.images.first.variant(:max).processed.url %>" data-gallery="example-gallery" class="lightbox-image">
            <img src="<%= @journey.images.first.variant(:max).processed.url %>" class="img-thumbnail rounded me-2 mb-2" id="journey-first-picture">
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless Rails.env.test? %>
  <%= render partial: 'shared/map', locals: { pins: @journey.pins.to_json } %>
<% end %>

<% if current_user && can?(:edit, @journey) %>
  <div class="row">
  	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
  		<div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Privacy
          </h5>
          <h6 class="card-subtitle text-muted">
            Current setting: <strong><%= @journey.access_type.split('_').first %></strong>.
          </h6>
        </div>
  			<div class="card-body">
          <% if @journey.protected_journey? %>
            <div class="row">
              <a href="<%= watch_journey_url(access_code: @journey.access_code) %>" class="private_link">Private link to share</a>
            </div>
            <br>
            <br>
          <% elsif @journey.public_journey? %>
            <div class="row">
              <a href="<%= journey_url(@journey) %>" class="public_link">Public link to share</a>
            </div>
            <br>
            <br>
          <% elsif @journey.monetized_journey? %>
            <div class="row">
              <a href="<%= pelican_url(username: @journey.user.username) %>" class="public_link_to_profile">Public link to profile to share</a>
            </div>
            <br>
            <br>
          <% end %>

          <div class="row">
            <div class="mb-3">
              <% journey_privacy_buttons(journey: @journey).each do |button| %>
                <%= button %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% @journey.journey_stops.each_with_index do |journey_stop, index| %>
    <% index_class = "journey-stop-#{index}" %>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <div class="card">
        <% if journey_stop.waiting? %>
          <div class="card-header">
            <h5 class="card-title" id="journey-stop-image-processing-status">
              Please wait. Images have been scheduled for processing.
            </h5>
          </div>
        <% elsif journey_stop.processing? %>
          <div class="card-header">
            <h5 class="card-title" id="journey-stop-image-processing-status">
              Please wait. Images are being processed.
            </h5>
          </div>
        <% else %>
          <%= image_tag journey_stop.images.first.variant(:thumbnail), class: "image #{index_class} card-img-top" %>
        <% end %>
        <div class="card-header">
          <h5 class="card-title title <%= index_class %>" id="journey-stop-image-processing-status">
            <%= journey_stop.title %>
          </h5>
        </div>
        <div class="card-body">
          <p>
            <em>
              Created <%= time_ago_in_words(journey_stop.created_at) %> ago.
            </em>
          </p>
          <p>
            <% if can?(:show, journey_stop) %>
              <% if params[:access_code] %>
                <%= link_to 'View Stop', journey_journey_stop_path(@journey, journey_stop, access_code: params[:access_code]), class: 'btn btn-sm btn-primary' %>
              <% else %>
                <%= link_to 'View Stop', journey_journey_stop_path(@journey, journey_stop), class: 'btn btn-sm btn-primary' %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user && can?(:destroy, @journey) %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <%= link_to 'Delete Journey', journey_path(@journey), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-end mt-n1' %>
    </div>
  </div>
<% end %>
