<div class="row">
	<% if @journeys.empty? %>
		There are no journeys yet.
	<% else %>
		<% @journeys.each do |journey| %>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<%= image_tag journey.image.variant(:max), class: 'card-img-top' %>
						<div class="card-body">
							<h5 class="card-title"><%= journey.title %></h5>
							<p class="card-text"><%= journey.description %></p>
                <% if can?(:show, journey) %>
									<%= link_to 'View Journey', journey_path(journey), class: 'btn btn-sm btn-primary' %>
                <% elsif can?(:buy, journey) %>
                  <%= link_to 'Buy Journey', create_checkout_session_payments_path(journey_id: journey.id), method: :post, class: 'btn btn-sm btn-primary' %>
                <% end %>
						</div>
					</div>
				</div>
		<% end %>
	<% end %>
</div>
