<meta name="description" content="<%= @journey.meta_description_content %>">

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
    <div class="row" data-controller="lightbox"> 
      <div class="col-12">
        <% if current_user && can?(:edit, @journey) %>
          <%= link_to '+ New Stop', new_journey_journey_stop_path(@journey), class: 'btn btn-primary  float-end mt-n1' %>
        <% end %>
      </div>
    <div>

    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <h1 class="d-inline-block" id="journey-title"><%= @journey.title %></h1>

          <%= render partial: 'shared/journey_journey_stop/map', locals: { journey_or_journey_stop: @journey } %>
        </div>

        <%= render partial: 'shared/journey_journey_stop/privacy',      locals: { journey: @journey }%>
      </div>
    </div>

    <%= render partial: 'shared/journey_journey_stop/creator',      locals: { user: @journey.user, journey: @journey }%>
    <%= render partial: 'shared/journey_journey_stop/description',  locals: { journey_or_journey_stop: @journey }%>
    <%= render partial: 'journeys/journey_journey_stops_cards',     locals: { journey: @journey }%>
    <%= render partial: 'shared/journey_journey_stop/destroy',      locals: { journey_or_journey_stop: @journey, path: journey_path(@journey) }%>
  </div>
</div>

