<div class="card">
  <div class="card-header">
    <div class="mb-3">
      <h1 class="d-inline-block">
        <%= journey.title %> 
      </h1>

      <%= render partial: 'shared/journey_journey_stop/map', locals: { journey_or_journey_stop: journey } %>
      <%= render partial: 'shared/journey_journey_stop/share', locals: { journey_or_journey_stop: journey } %>
    </div>

    <%= render partial: 'shared/journey_journey_stop_card/creator', locals: { user: journey.user, journey: journey }%>
  </div>

  <div class="card-body mb-3">
    <%= render partial: 'shared/journey_journey_stop_card/images_grid', locals: { journey_or_journey_stop: journey } %>
  </div>

  <div class="card-header">
    <%= render partial: 'journeys/view_buttons', locals: { journey: journey } %>
    <%= render partial: 'journeys/buy_button',   locals: { journey: journey } %>
  </div>
</div>
