<div class="row">
	<% if journeys.empty? %>
		<div class="mb-3">
			<h1 class="h4 d-inline align-middle">There are no journeys yet.</h1>
		</div>
	<% else %>
		<% journeys.each do |journey| %>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3">
					<div class="card">
						<%= image_tag journey.image.variant(:thumbnail), class: 'card-img-top' %>
            <div class="card-header">
              <h5 class="card-title"><%= journey.title %></h5>
            </div>
						<div class="card-body">
							<p class="card-text"><%= journey.description %></p>
              <div class="btn-group btn-group-sm mb-0" role="group" aria-label="pelican_button_group" style="width: 100%;">
                <% if can?(:show, journey) %>
									<%= link_to 'View', journey_path(journey), class: 'btn btn-sm btn-primary' %>
                <% end %>
                <% if current_user.nil? || journey.user != current_user %>
                  <%= link_to 'User Profile', pelican_path(journey.user.username), class: 'btn btn-sm btn-secondary' %>
                  <% if can?(:buy, journey) %>
                    <%= link_to create_checkout_session_payments_path(journey_id: journey.id), method: :post, class: 'btn btn-sm btn-success' do %>
                      <i class="align-middle" data-feather="lock"></i> <span class="align-middle">Buy</span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
						</div>
					</div>
				</div>
		<% end %>
	<% end %>
</div>
