<h1 class="h3 mb-3">My Journeys</h1>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<% if @journeys.empty? %>
					You have no journeys yet.
				<% else %>
					<% @journeys.find_in_batches(batch_size: 4) do |group| %>
						<div class="row">
							<% group.each do |journey| %>
								<div class="col-lg-3 col-md-6 col-sm-12">
									<div class="card" style="height: 100%;">
										<%= image_tag journey.image.variant(:thumb), class: 'card-img-top' %>
										<div class="card-body">
											<h5 class="card-title"><%= journey.title %></h5>
											<p class="card-text"><%= journey.description %></p>
											<%= link_to 'View Journey', journey_path(journey), class: 'btn btn-sm btn-primary' %>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Start a New Journey", new_journey_path, class: 'btn btn-primary' %>
