<meta name="description" content="<%= @journey_stop.meta_description_content %>">

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
    <div class="row" data-controller="lightbox"> 
      <div class="col-8">
        <h1 id="journey-stop-title">
          <%= render partial: 'journey_stops/journey_button', locals: { current_user: current_user, journey_stop: @journey_stop } %>
           / 
          <%= @journey_stop.title %>
        </h1>
      </div>

      <div class="col-4">
        <%= render partial: 'map_pins/pin_unpin', locals: { current_user: current_user, journey_stop: @journey_stop } %>
      </div>
    </div>

    <%= render partial: 'shared/journey_journey_stop/map_button',  locals: { modal_id: @journey_stop.modal_id } %>
    <%= render partial: 'shared/journey_journey_stop/creator',     locals: { user: @journey_stop.journey.user }%>
    <%= render partial: 'shared/journey_journey_stop/description', locals: { journey_or_journey_stop: @journey_stop } %>
    <%= render partial: 'shared/journey_journey_stop/images',      locals: { journey_or_journey_stop: @journey_stop } %>
    <%= render partial: 'shared/journey_journey_stop/map',         locals: { pins: [@journey_stop.pin], journey_or_journey_stop: @journey_stop } %>
    <%= render partial: 'shared/journey_journey_stop/destroy',     locals: { journey_or_journey_stop: @journey_stop, path: journey_journey_stop_path(@journey_stop.journey, @journey_stop) } %>
  </div>
</div>