<h1 class="h3 mb-3">Make a Stop</h1>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
        <%= form_for @journey_stop do |f| %>
          <%= f.hidden_field :journey_id, value: params[:journey_id] %>

          <div class="mb-3">
            <%= f.label :title, class: 'form-label' %>
            <%= f.text_field :title, required: true, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :description, class: 'form-label' %>
            <%= f.text_field :description, required: true, class: 'form-control' %>
          </div>

          <div class="mb-3">
						<label>
							Current locations plus code. <a href="https://maps.google.com/pluscodes/" target="_blank">What is a plus code?</a>
						</label>
            <%= f.text_field :plus_code, required: true, class: 'form-control' %>
          </div>

          <div class="mb-3">
						<label>
							Add pictures from the stop you made
						</label>
						<br>
            <%= f.file_field :images, multiple: true, direct_upload: true, required: true %>
          </div>

          <div class="actions">
            <%= f.submit "Create", class: 'btn btn-primary' %>
          </div>
        <% end %>
			</div>
		</div>
	</div>
</div>
