<div class="mb-3">
  <h1 class="h3 d-inline align-middle"><%= @journey_stop.title %> - <%= @journey_stop.description %></h1>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
        <iframe
          width="100%"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="<%= @journey_stop.map_url %>">
				</iframe>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @journey_stop.images.each_with_index do |image, index| %>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <%= image_tag image.variant(:max), class: "card-img journey-stop-image-#{index}"  %>
      </div>
    </div>
  <% end %>
</div>

<% if current_user && can?(:destroy, @journey_stop) %>
  <%= link_to 'Delete Stop', journey_journey_stop_path(@journey_stop.journey, @journey_stop), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-end mt-n1' %>
<% end %>
