<div class="row"> 
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <% if @journey_stop.journey.protected_journey? %>
      <% if current_user && can?(:edit, @journey_stop.journey) %>
        <%= link_to 'View Journey', journey_path(@journey_stop.journey), class: 'btn btn-primary float-end mt-n1' %>
      <% else %>
        <%= link_to 'View Journey', watch_journey_url(access_code: @journey_stop.journey.access_code), class: 'btn btn-primary float-end mt-n1' %>
      <% end %>
    <% else %>
      <%= link_to 'View Journey', journey_path(@journey_stop.journey), class: 'btn btn-primary float-end mt-n1' %>
    <% end %>
  </div>
</div>

<div class="row"> 
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <h1 id="journey-stop-title"><%= @journey_stop.title %></h1>
  </div>
</div>

<% unless @journey_stop.description.body.to_plain_text.blank?  %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <div class="card">
        <div class="card-body">
          <div id="journey-stop-description">
            <%= @journey_stop.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless Rails.env.test? %>
  <%= render partial: 'shared/map', locals: { pins: [@journey_stop.pin].to_json } %>
<% end %>

<% unless @journey_stop.journey.protected_journey? %>
  <%= render partial: 'map_pins/pin_unpin', locals: { current_user: current_user, journey_stop: @journey_stop } %>
<% end %>

<br>

<% if @journey_stop.waiting? %>
  <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Images have been scheduled for processing.' } %>
<% elsif @journey_stop.processing? %>
  <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Images are being processed.' } %>
<% else %>
  <div class="row"> 
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 p-1">
      <div class="row align-items-center justify-content-center m-0" data-controller="lightbox">
        <% images_thumbnail_urls = @journey_stop.images_urls(variant: :thumbnail) %>
        <% images_max_urls       = @journey_stop.images_urls(variant: :max) %>

        <div class="row">
          <% images_max_urls.each_with_index do |image_max_url, index| %>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <img 
                src="<%= images_thumbnail_urls[index] %>"
                data-src="<%= image_max_url %>"
                data-gallery="example-gallery"
                class="lightbox-image w-100 shadow-1-strong rounded mb-4"
                id="journey-stop-image-<%= index %>"
              >
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row"> 
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <% if current_user && can?(:destroy, @journey_stop) %>
      <%= link_to 'Delete Stop',
        journey_journey_stop_path(@journey_stop.journey, @journey_stop),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger float-end mt-n1'
      %>
    <% end %>
  </div>
</div>