<nav class="navbar navbar-expand navbar-light navbar-bg">
  <% if current_user %>
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>
  
    <% unread_notifications = current_user.received_notifications.not_read.includes(:sender, :receiver, :journey, :journey_stop) %>
    <% notifications_count  = unread_notifications.count %>
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              width="24" 
              height="24" 
              viewBox="0 0 24 24" 
              fill="none" 
              stroke="currentColor" 
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              class="feather feather-bell align-middle"
            >
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
            <span class="indicator">
              <%= notifications_count %>
            </span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
          
          <div class="dropdown-menu-header">
            You have <%= pluralize(notifications_count, 'notification') %>
          </div>
          <div class="list-group">
            <% unread_notifications.each do |unread_notification| %>
              <a href="<%= unread_notification.notification_link %>" class="list-group-item">
                <div class="row g-0 align-items-center">
                  <div class="col-12">
                    <div class="text-dark">
                      <%= unread_notification.notification_title %>
                    </div>
                    <div class="text-muted small mt-1">
                      <%= unread_notification.notification_text%>
                    </div>
                    <div class="text-muted small mt-1">
                      <%= unread_notification.created_at.strftime("%A %I:%M %p, %d %b %Y") %>
                    </div>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
          <% if false %>
            <div class="dropdown-menu-footer">
              <a href="#" class="text-muted">Mark all notifications as read</a>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <h5>
          <%= link_to "Migrating Pelicans", root_path, class: "dropdown-item" %>
        </h5>
      </li>
    </ul>
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-icon pe-md-0 dropdown-toggle main_pelican" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag "avatars/avatar.png", class: "avatar img-fluid rounded-circle", alt: "Migrating Pelican" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to "Log in", new_session_path('user'), class: "dropdown-item" %>
          <%= link_to "Sign up", new_registration_path('user'), class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  <% end %>
</nav>
