<!DOCTYPE html>
<html>
  <head>
    <title>MPelicans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper" data-controller="hello">
      <% if current_user %>
        <nav id="sidebar" class="sidebar js-sidebar">
          <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="<%= root_path %>">
              <span class="sidebar-brand-text align-middle">
                MPelicans
              </span>
            </a>

            <div class="sidebar-user">
              <div class="d-flex justify-content-center">
                <div class="flex-shrink-0">
                  <% if current_user.image.attached? %>
                    <%= image_tag current_user.image.variant(:max), class: "avatar img-fluid rounded me-1" %>
                  <% else %>
                    <%= image_tag "avatars/avatar.png", class: "avatar img-fluid rounded me-1" %>
                  <% end %>
                </div>
                <div class="flex-grow-1 ps-2">
                  <a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <%= current_user.username %>
                  </a>
                  <div class="sidebar-user-subtitle">Journeys: <%= current_user.journeys.count %></div>
                  <div class="dropdown-menu dropdown-menu-start">
                    <%= link_to "Log out", destroy_user_session_path, class: 'dropdown-item' %>
                  </div>
                </div>
              </div>
            </div>

            <% if current_user %>
              <ul class="sidebar-nav">
                <li class="sidebar-header">
                  Pages
                </li>

                <li class="sidebar-item <%= active_controller?(controller: 'journeys') || active_controller?(controller: 'journey_stops') %>">
                  <%= link_to journeys_path, class: 'sidebar-link', data: { "bs-target" => '#journeys' } do %>
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Journeys</span>
                  <% end %>

                  <ul id="journeys" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
                    <li class="sidebar-item <%= active_journeys_tab?(tab: 'mine') %>">
                      <%= link_to 'My Journeys', journeys_path(which_journeys: 'mine'), class: 'sidebar-link' %>
                    </li>

                    <li class="sidebar-item <%= active_journeys_tab?(tab: 'bought') %>">
                      <%= link_to 'Bought Journeys', journeys_path(which_journeys: 'bought'), class: 'sidebar-link' %>
                    </li>

                    <li class="sidebar-item <%= active_journeys_tab? %>">
                      <%= link_to 'All Journeys', journeys_path, class: 'sidebar-link' %>
                    </li>

                    <li class="sidebar-item <%= active_controller_action?(controller: 'journeys', action: 'new') %>">
                      <%= link_to "+ New Journey", new_journey_path, class: 'sidebar-link' %>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-item <%= active_controller_action?(controller: 'pelicans', action: 'index') %> <%= active_controller_action?(controller: 'pelicans', action: 'show') %>">
                  <%= link_to pelicans_path, class: 'sidebar-link', data: { "bs-target" => '#pelicans' } do %>
                    <i class="align-middle" data-feather="globe"></i> <span class="align-middle">Pelicans</span>
                  <% end %>

                  <ul id="pelicans" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
                    <li class="sidebar-item <%= active_controller_action?(controller: 'pelicans', action: 'index') %>">
                      <%= link_to "Search", pelicans_path, class: 'sidebar-link' %>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-item <%= active_controller_action?(controller: 'pelicans', action: 'edit') %>">
                  <%= link_to edit_pelican_path(current_user.username), class: 'sidebar-link' do %>
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= link_to destroy_user_session_path, class: 'sidebar-link', data: { confirm: 'Are you sure?' } do %>
                    <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Log Out</span>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        </nav>
      <% end %>

      <div class="main">
        <% if current_user %>
          <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
              <i class="hamburger align-self-center"></i>
            </a>

            <% unread_notifications = current_user.received_notifications.not_read.includes(:sender, :receiver, :journey, :journey_stop) %>

            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                  <div class="position-relative">
                    <svg 
                      xmlns="http://www.w3.org/2000/svg" 
                      width="24" 
                      height="24" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      stroke="currentColor" 
                      stroke-width="2" 
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      class="feather feather-bell align-middle"
                    >
                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                    <span class="indicator">
                      <%= unread_notifications.count %>
                    </span>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                  
                  <div class="dropdown-menu-header">
                    You have <%= unread_notifications.count %> notifications
                  </div>
                  <div class="list-group">
                    <% unread_notifications.each do |unread_notification| %>
                      <a href="<%= unread_notification.notification_link %>" class="list-group-item">
                        <div class="row g-0 align-items-center">
                          <div class="col-12">
                            <div class="text-dark">
                              <%= unread_notification.notification_title %>
                            </div>
                            <div class="text-muted small mt-1">
                              <%= unread_notification.notification_text%>
                            </div>
                            <div class="text-muted small mt-1">
                              <%= unread_notification.created_at %>
                            </div>
                          </div>
                        </div>
                      </a>
                    <% end %>
                  </div>
                  <% if false %>
                    <div class="dropdown-menu-footer">
                      <a href="#" class="text-muted">Mark all notifications as read</a>
                    </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </nav>
        <% end %>

        <main class="content" style="<%= content_style %>">
        	<div class="container-fluid p-0">

            <% if flash[:message] %>
              <div class="alert alert-<%= flash[:message_type] || 'secondary' %> alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                  <%= flash[:message] %>
                </div>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </main>

        <footer class="footer">
          <div class="container-fluid">
            <div class="row text-muted">
              <div class="col-6 text-start">
                <p class="mb-0">
                  <strong>VLZ &copy; <%= DateTime.now.year %></strong>
                </p>
              </div>
              <div class="col-6 text-end">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="text-muted" href="mailto:<%= ENV.fetch('SUPPORT_EMAIL', 'support@mpelicans.com') %>">Support</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="text-muted" href="mailto:<%= ENV.fetch('SUPPORT_EMAIL', 'support@mpelicans.com') %>">Help Center</a>
                  </li>
                  <% if false %>
                    <li class="list-inline-item">
                      <a class="text-muted" href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                      <a class="text-muted" href="#">Terms</a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>

      <div class="modal fade" id="pleaseWaitModal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Please wait</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0 text-center">
                Your request is being processed.
              </p>
              <br>
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
